extends layouts/main-layout

block content
  h1 Your word is <em>#{word}</em>
  h2 From the letters
  .letters-container
    each letter in grid
      .letter #{letter}
  if score === 0
    h2.score You did not score any points 😥
  else
    h2.score Your score is #{score}. Well done!
  a(href="/" class="back") Back to main page
